[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
praw = "*"
slackclient = "*"
"ruamel.yaml" = "*"
requests = "*"
tqdm = "*"
tweepy = "*"
# ;{ref = "7ae8019cda4cbc3a16eeb8cc63c95f316290f109", git = "https://github.com/tweepy/tweepy"}
"beautifulsoup4" = "*"
colorlog = "*"

[dev-packages]

[requires]
python_version = "3.7"
