[[source]]
name = "pypi"
url = "https://nexus.terrasoft.gr/repository/pypi-all/simple"
verify_ssl = true

[packages]
praw = "*"
slackclient = "==1.3.1"
"ruamel.yaml" = "*"
requests = "*"
tqdm = "*"
tweepy = "*"
"beautifulsoup4" = "*"
colorlog = "*"
psycopg2 = "*"
soupsieve = "==1.9"
tabulate = "*"
xlsxwriter = "*"
flask = "*"
celery = "*"
yfinance = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
